body {
  font-size: 16px;
  line-height: 1.4em;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 35px;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
}

a {
  color: #ffffff;
}

p {
  margin: 0;
}

.main-header {
  height: 120px;
  padding: 10px 27px 0;
  background-color: #849d8f;
}

.page-logo {
  float: left;
  width: 154px;
  margin-right: 24px;
}

.main-navigation {
  float: left;
  width: 410px;
  margin-top: 20px;
}

.main-navigation a {
  margin-right: 27px;
}

.main-navigation a:last-child {
  margin-right: 0;
}

.action-panel {
  float: right;
  margin-top: 13px;
  margin-bottom: 10px;
}

.action-panel a {
  margin-right: 10px;
}

.action-panel a:last-child {
  margin-right: 0;
}

.header-info {
  clear: both;
  float: right;
}

.header-info p {
  margin-top: 10px;
}

main {
  background-color: #849d8f;
}

.main-slider input[type=radio] {
  display: none;
}

.main-slider__controls {
  margin-top: 475px;
  margin-left: 27px;
}

.main-slider__controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0;
  margin-right: 8px;
  cursor: pointer;
}

.main-slider__inner {
  overflow: hidden;
}

.main-slider__slides {
  position: absolute;
  top: 0;
  left: 150px;
  width: 300%;
}

.main-slider__slide {
  float: left;
  width: 1045px;
  height: 670px;
}



footer {
  background-color: #849d8f;
}
