body {
  font-size: 16px;
  line-height: 1.4em;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 35px;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
}

a {
  color: #ffffff;
}

p {
  margin: 0;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

.main-header {
  height: 120px;
  padding: 10px 27px 0;
  background-color: #849d8f;
}

.page-logo {
  float: left;
  width: 154px;
  height: 64px;
  padding: 0;
  margin-right: 24px;
}

.main-navigation {
  float: left;
  width: 410px;
  margin-top: 20px;
}

.main-navigation a {
  margin-right: 27px;
}

.main-navigation a:last-child {
  margin-right: 0;
}

.action-panel {
  float: right;
  margin-top: 16px;
}

.action-panel a {
  min-width: 32px;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 17px;
  background-color: #9db1a5;
}

.action-panel a:last-child {
  margin-right: 0;
}

.header-info {
  clear: both;
  float: right;
}

.header-info p {
  font-size: 14px;
  line-height: 1.1em;
  text-align: right;
  margin-bottom: 8px;
}

.header-info p:last-child {
  font-size: 22px;
  line-height: 1.1em;
}

main {
  padding-left: 27px;
  padding-right: 27px;
  background-color: #849d8f;
}

.main-slider__inner {
  overflow: hidden;
}

.main-slider__slides {
  position: absolute;
  top: 0;
  left: 150px;
  width: 300%;
}

.main-slider__slide {
  float: left;
  width: 1045px;
  height: 670px;
}

.main-slider__slide h2 {
  width: 300%;
  text-align: center;
}

.main-slider input[type=radio] {
  display: none;
}

.main-slider__controls {
  margin-top: 435px;
  margin-bottom: 60px;
}

.main-slider__controls label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0;
  margin-right: 6px;
  cursor: pointer;
}

.main-promo__left {
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding: 20px;
  margin-right: 26px;
  background: url("../img/raspberry-background.png") no-repeat;
}

.main-promo__right {
  float: right;
  position: relative;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding: 20px;
  background: url("../img/chocolate-background.png") no-repeat;
}

.main-promo p {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 16px;
}

.main-promo__order-btn {
  float: right;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  box-sizing: border-box;
  height: 46px;
  border-radius: 23px;
  padding: 13px 20px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  background-color: red;
}

footer {
  padding-left: 27px;
  padding-right: 27px;
  background-color: #849d8f;
}
